<div class="mt-24 font-size-16 ">
  <p class="mb-8"><span class="font--heavy color--black-60"><%= I18n.t('pdf.project.gis') %>:</span>
    <a class="color--primary" href="<%= project.gis_url %>" target="_blank" rel="nofollow noopener ugc"><%= project.gis_url %></a>
  </p>
  <p><span class="font--heavy color--black-60"><%= I18n.t('pdf.project.info_manager') %>:</span>
    <a class="color--primary" href="<%= project.info_manager_url %>" target="_blank" rel="nofollow noopener ugc"><%= project.info_manager_url %></a>
  </p>
</div>