<!--TODO: This file still has dummy content. To be updated after getting proper text from BA-->
<div class="py-24 br-8">
<p class="line-height--22">
  <%= t('devise.mailer.trouble_text') %>
</p>
<p class="line-height--22">
  <%= root_url %>
</p>
<p><%= t('devise.mailer.signature') %></p>
  <div class="logo">
    <%= image_tag(attachments['logo.png'].url) %>
  </div>
</div>

<div class="email-footer line-height--22 p-24 sf-full-width">
  <p>
    This message was sent to
    <span class="color--primary">Test User</span>.
    If you have questions or not the intended recipient for this email, please ignore it or contact us.
  </p>
  <div class="mt-32">
    <a href="" class="color--primary font-size--18">Terms of use</a>
    <a href="" class="color--primary font-size--18 border--left-right mx-16 px-16">About Us</a>
    <a href="" class="color--primary font-size--18">Contact Us</a>
  </div>
  <p class="line-height--22 mt-24 color--dove-gray">
    ©<%= Date.current.year %> UPC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis odio proin sagittis
    pha tra dui vitae.
  </p>
</div>
