<table class="full--width">
  <tr>
    <td>
      <div class="logo mb-32">
        <%= image_tag(attachments['logo.png'].url) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2 class="helo">New Build - Task Assignee</h2>
    </td>
  </tr>
  <tr>
    <td><p class="color--primary mb-16 font--bold titleCase">Hello <%= @user.profile.salutation %>. <%= @user.lastname.capitalize! %></p></td>
  </tr>
  <tr>
    <td>
      <p class="m-0">You have been assigned the task <%=@tasks.title %>> for <%= @tasks.taskable.name %> project by <%= @tasks.owner.name %>
      </p>
    </td>
  </tr>
  <tr>
</table>
<%= render('shared/disclaimer') %>
</div>
<%= render('shared/footer') %>