<div class="email-content px-32 pt-32">
  <table class="full--width">
  <tr>
    <td>
      <div class="logo mb-32">
        <%= image_tag(attachments['logo.png'].url) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2 class="m-0">New Build - Tasks Due Tomorrow</h2>
    </td>
  </tr>
  <tr>
    <td><p class="color--primary mb-16 font--bold titleCase">Hello <%= @user.profile.salutation %>. <%= @user.lastname.capitalize! %></p></td>
  </tr>
  <tr>
    <td>
      <p class="m-0">The following task(s) are due soon, on <%= Date.tomorrow.strftime('%d.%m.%Y') %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="m-0"><%= render('content', tasks: @tasks) %></p>
    </td>
  </tr>
</table>
<%= render('shared/disclaimer', @user: user) %>
</div>
<%= render('shared/footer') %>
