<table class="full--width">
  <tr>
    <td>
      <div class="logo mb-32">
        <%= image_tag(attachments['logo.png'].url) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2 class="my-0">New Build - Tasks Today</h2>
    </td>
  </tr>
  <tr>
    <td><p class="color--black-87 mb-16 font--bold text--capitalize  font-size-16">Hello <%= @user.profile.salutation %>. <%= @user.lastname.capitalize %></p></td>
  </tr>
  <tr>
    <td>
      <p class="my-0">The due date for the following task(s) are about to end, on <%= Date.current.strftime('%d.%m.%Y') %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="my-0"><%= render('task_mailer/content', tasks: @tasks) %></p>
    </td>
  </tr>
    <tr>
      <td>
        <div class="mt-32">
          <button type="button" class="button button__primary">
            <a href="<%= root_url %>" class="color--white font-size-12">
              Go To New Build Tool
            </a>
          </button>
        </div>
      </td>
    </tr>
</table>
