<p class="color--primary">
  Hello <%= @user.profile.salutation %> <%= @user.lastname.capitalize! %>
</p>
<p class="line-height--22">
   The due date for the following task(s) are about to end, on <%= Date.current.strftime('%d.%m.%Y') %>
</p>
<ul>
  <% @tasks.each do |task|%>
    <li class="line-height--22"><%= task.title %></li>
  <% end %>
</ul>
<p class="line-height--22">
   Please login to the portal to update task information.
</p>
<a class="line-height--22" href="<%= root_url %>">
   <%= root_url %>
</a>