<!--FIXME: Logo & footer and anything common - extract out in a partial. @jigyel #DRY! -->
<table class="full--width">
  <tr>
    <td>
      <div class="logo mb-32">
        <%= image_tag(attachments['logo.png'].url) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2 class="my-0">New Build - Project Assignee</h2>
    </td>
  </tr>
  <tr>
    <td>
      <p class="color--black-87 mb-16 font--bold text--capitalize font-size-16">
        Hello <%= @user.salutation %>. <%= @user.lastname.capitalize! %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="my-0">
        You have been assigned as the Assigned Person for "<%= @project_name%>", "<%= @project.decorate.formatted_address(@project.address) %>", project.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <div class="mt-32">
        <button type="button" class="button button__primary">
          <a href="<%= root_url %>" class="color--white font-size-12">
            Go To New Build Tool
          </a>
        </button>
      </div>
    </td>
  </tr>
</table>
