<table class="full--width">
  <tr>
    <td>
      <div class="logo mb-32">
        <%= image_tag(attachments['logo.png'].url) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2 class="my-0">New Build - Unassigned from Project</h2>
    </td>
  </tr>
  <tr>
    <td><p class="color--primary mb-16 font--bold text--capitalize">Hello <%= @user.profile.salutation %>. <%= @user.lastname.capitalize! %></p></td>
  </tr>
  <tr>
    <td>
      <p class="my-0">You have been unassigned as the Assigned Person for "<%= @project.name %>" project by <%= @current_user.name %>.
      </p>
    </td>
  </tr>
    <tr>
      <td>
        <div class="mt-32">
          <button type="button" class="button button__primary">
            <a href="<%= root_url %>" class="white--text">
              Go To New Build Tool
            </a>
          </button>
        </div>
      </td>
    </tr>
</table>
